<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd


		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd"
>
    <!-- 下面是点位符替换引用 -->
    <bean id="propertyPlaceHolderConfigurer"
          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="ignoreUnresolvablePlaceholders" value="true" />
        <property name="locations">
            <list>
                <value>jdbc-default.properties</value>
            </list>
        </property>
    </bean>
    <import resource="classpath*:applicationContext-scheduler-service.xml"/>

    <import resource="classpath*:applicationContext-mybatis-orm.xml"/>
    <util:map id="multipleDataSourceMap">
        <!--key 对应 MultipleDataSource 中的枚举-->
        <entry key="dataSourceDefault" value-ref="dataSourceDefault"/>
    </util:map>
</beans>
