<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd


		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd"
>

    <!-- 定义扫描的包路径 -->
    <context:component-scan use-default-filters="false" base-package="com.feihua.framework.scheduler.impl">
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Service"/>
    </context:component-scan>

    <bean id="schedulerFactoryBean" class="org.springframework.scheduling.quartz.SchedulerFactoryBean" >

        <property name="dataSource">
            <ref bean="multipleDataSource"/>
        </property>
        <property name="applicationContextSchedulerContextKey" value="applicationContext"/>
        <property name="globalJobListeners">
            <list>
                <bean class="com.feihua.framework.scheduler.GlobalQuartzJobListener"/>
            </list>
        </property>
        <property name="startupDelay" value="20"/>
        <property name="autoStartup" value="${scheduler.startup.auto}"/>
        <property name="quartzProperties">
            <props>
                <prop key="org.quartz.scheduler.instanceId">AUTO</prop>
                
                <!-- JobStore 配置 -->
                <prop key="org.quartz.jobStore.class">org.quartz.impl.jdbcjobstore.JobStoreTX</prop>

                <prop key="org.quartz.jobStore.driverDelegateClass">org.quartz.impl.jdbcjobstore.StdJDBCDelegate</prop>
                <!-- 数据表设置 -->
                <prop key="org.quartz.jobStore.tablePrefix">QRTZ_</prop>
                <!--<prop key="org.quartz.jobStore.dataSource">myDS</prop>-->
            </props>
        </property>
    </bean>

    <bean class="com.feihua.framework.mybatis.orm.DefaultMybatisMapperConfig">
        <property name="basePackage" value="com.feihua.framework.scheduler.mapper"/>
    </bean>

</beans>
