<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:rabbit="http://www.springframework.org/schema/rabbit"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop
		http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd http://www.springframework.org/schema/rabbit http://www.springframework.org/schema/rabbit/spring-rabbit.xsd"
>

    <import resource="classpath*:applicationContext-mq-service.xml"/>

    <bean id="testConsumer" class="com.feihua.framework.mq.test.TestConsumer"/>

    <bean class="com.feihua.framework.mq.test.TestProducer"/>

    <rabbit:listener-container connection-factory="connectionFactory" >
        <rabbit:listener  queues="queueTest"  method="onMessage"  ref="testConsumer"/>
    </rabbit:listener-container>

</beans>
