<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop
		http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd"
>

    <!-- 定义扫描的包路径 -->
    <context:component-scan  use-default-filters="false" base-package="com.feihua.framework.base.impl">
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Service"/>
    </context:component-scan>
    <util:map id="multipleDataSourceMap">
        <!--key 对应 MultipleDataSource 中的枚举-->
        <entry key="dataSourceDefault" value-ref="dataSourceDefault"/>
    </util:map>
    <!-- map路径 -->
    <bean class="com.feihua.framework.mybatis.orm.DefaultMybatisMapperConfig">
        <property name="basePackage" value="com.feihua.framework.base.mapper"/>
    </bean>

    <import resource="classpath:applicationContext-jedis.xml"/>
    <import resource="classpath:applicationContext-mybatis-orm.xml"/>
</beans>
