<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop
		http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd"
>
    <!-- 定义扫描的包路径 -->
    <context:component-scan use-default-filters="false" base-package="com.feihua.framework.message.impl">
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Service"/>
    </context:component-scan>
    <bean class="com.feihua.framework.message.handler.impl.DefaultFindMessageUsersHandlerImpl"/>
    <bean class="com.feihua.framework.message.handler.impl.PcMessageSenderImpl"/>
    <bean class="com.feihua.framework.message.handler.impl.H5MessageSenderImpl"/>
    <bean class="com.feihua.framework.message.handler.impl.H5WeixinPublicPlatformTemplateMessageSenderImpl"/>

    <bean class="com.feihua.framework.mybatis.orm.DefaultMybatisMapperConfig">
        <property name="basePackage" value="com.feihua.framework.message.mapper"/>
        <property name="cacheConfig">
            <map>
                <entry key="com.feihua.framework.message.mapper.BaseMessageUserPoMapper">
                    <list>
                        <value>com.feihua.framework.message.mapper.BaseMessagePoMapper.searchUserMessage</value>
                    </list>
                </entry>
            </map>
        </property>
    </bean>
</beans>
