<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 自定义Session存储容器 -->
    <bean id="sessionDAO" class="com.feihua.framework.shiro.session.ShiroSessionDaoFactoryBean">
        <property name="sessionDaoType" value="${shiro.session.dao.type}"/>
        <property name="sessionRedisKeyPrefix" value="${shiro.session.redis.key.prefix}"/>
    </bean>
    <!-- 自定义会话管理配置 -->
    <bean id="sessionManager" class="org.apache.shiro.web.session.mgt.DefaultWebSessionManager">
        <property name="sessionDAO" ref="sessionDAO"/>

        <property name="sessionFactory">
            <bean class="com.feihua.framework.shiro.session.SessionFactory"/>
        </property>
        <property name="sessionListeners">
            <list>
                <bean class="com.feihua.framework.shiro.session.SessionListener"/>
            </list>
        </property>

        <!-- 会话超时时间，单位：毫秒  -->
        <property name="globalSessionTimeout" value="${shiro.session.timeout}"/>

        <!-- 定时清理失效会话, 清理用户直接关闭浏览器造成的孤立会话   -->
        <property name="sessionValidationInterval" value="${shiro.session.timeoutClean}"/>
        <property name="sessionValidationSchedulerEnabled" value="true"/>

        <property name="sessionIdCookie" ref="sessionIdCookie"/>
        <property name="sessionIdCookieEnabled" value="true"/>
    </bean>
    <!-- 指定本系统SESSIONID, 默认为: JSESSIONID 问题: 与SERVLET容器名冲突, 如JETTY, TOMCAT 等默认JSESSIONID,
    当跳出SHIRO SERVLET时如ERROR-PAGE容器会为JSESSIONID重新分配值导致登录会话丢失! -->
    <bean id="sessionIdCookie" class="org.apache.shiro.web.servlet.SimpleCookie">
        <constructor-arg name="name" value="sid"/>
        <property name="path" value="/" />
        <property name="maxAge" value="-1" />
        <property name="httpOnly" value="true" />
    </bean>

</beans>