<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:rabbit="http://www.springframework.org/schema/rabbit"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop
		http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd http://www.springframework.org/schema/rabbit http://www.springframework.org/schema/rabbit/spring-rabbit.xsd"
>
    <!-- 定义扫描的包路径 -->
    <context:component-scan use-default-filters="false" base-package="com.feihua.framework.spider.impl">
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Service"/>
    </context:component-scan>

    <bean id="DefaultSpiderService" class="com.feihua.framework.spider.impl.DefaultSpiderServiceImpl"/>

    <bean id="webDriverFactory" class="com.feihua.framework.spider.WebDriverFactory">
        <property name="firefoxWebDrivePath" value="D:/program-files/geckodriver-v0.23.0-win64/geckodriver.exe"/>
    </bean>

    <bean class="com.feihua.framework.mybatis.orm.DefaultMybatisMapperConfig">
        <property name="basePackage" value="com.feihua.framework.spider.mapper"/>
    </bean>
</beans>
